services:
 app:
   build:
     context: .
   ports:
     - "8888:5000"
     - "9228:9229"
   env_file:
     - ./backend/.env
   volumes:
     - ./backend:/app
#     - /app/node_modules
   restart: on-failure
   command: >
     sh -c "node --inspect=0.0.0.0:9228 -r ts-node/register src/app.ts"

 db:
  image: mongo
  ports:
    - "7777:27017"
  env_file:
    ./backend/.env
  volumes:
    - ./mongo_db:/data/db
    - ./mongo-init.js:/docker-entrypoint-initdb.d//mongo-init.js:ro
  restart: on-failure

 web:
   image: nginx:alpine
   ports:
     - "81:81"
   volumes:
     - ./client:/usr/share/nginx/html
     - ./nginx.conf:/etc/nginx/conf.d/default.conf
   restart: on-failure
